.intro {
  color: red
}

h1 {
  color: blue;
  text-align: center;
  font-style: normal;
}

h2 {
  color: green;
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
  font-style: oblique;
}

ul {
  line-height: 40px;
  background-color: purple;
  font-family: sans-serif;
}

body {
  background-image: url("mycar");
}
